c++/.vscode/
c++/crf_train.exe
c++/a.out
c++/a.out.dSYM/
c++/.idea/
c++/CMakeLists.txt
c++/cmake-build-debug/
c++/old_template.utf8
java/.idea/
java/out/
java/java.iml
.DS_Store
.vscode/
java/.DS_Store
java/crf.iml